header.header {
  background: var(--main);
  padding-top: 2rem;
  border-bottom: 0.5rem solid #121214;
  
  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}